<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title CRUD MONGODB NODE JS Y EXPRESS
  link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous", rel="stylesheet")
body
  .container
    div(style="heigth:100%").jumbotron.mt-5
        h1.display-4  Bienvenido
        p.lead Este es un crud de productos que usa las tecnologias de Mongodb, Express y Node.js
        hr.my-4
        p Puedes hacer uso de este crud para divertirte un momento agregando productos a mi almacen
        a(href="/products",role="button").btn.btn-primary.btn-lg INICIAR CRUD